nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{
      flex: 3;
      align-items:  center;
      display: flex;
      gap: 50px;

    .logo{
        font-weight: bold;
        font-size: 20px;
        display : flex;
        align-items: center;
        gap: 10px;

        img{
          width: 42px;
        }
      }
        }
    .right{
       flex: 1.8;
       justify-content: flex-end;
       align-items: center;
       display: flex;
       gap: 50px;
       background-color: #fcf5f3;
       height: 100%;
      
      a{
        padding: 12px 24px;
        margin: 20px;
       }

      .register{
        background-color: #fece51;
      }

    }
}