@import "./responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;


    @include lg{
        background-color: rgb(178, 164, 139);
        max-width: 920px;
    }

    @include md{
        background-color: rgb(239, 205, 210);
        max-width: 768px;
    }
    @include sm{
        background-color: rgb(230, 195, 195);
        max-width: 640px;
    }
    
}

//here is the color for diffrent screen